<% include ../../partials/header %>

<div class="ui main center aligned text container">
    <h1 class="ui huge header">
        Numerical Computational Methods
    </h1>
    <h4 class="ui large header">
        Bisection method
    </h4>
    <div class="ui divider"></div>

    <div>
        <p>Determining approximate root of <strong>f(x) = -12x<sup>5</sup> - 6.4x<sup>3</sup> + 12</strong></p>
        <p>Stop condition: <strong>0.0000001</strong></p>
        <p>Interval: <strong>-400 to 300</strong></p>
        <a href="/start" class="ui button">Start again</a>
    </div>
    <div class="ui divider"></div>

    <div>
        <table class="ui unstackable table center aligned">
            <thead>
                <tr>
                    <th>Iteration</th>
                    <th>Initial Value</th>
                    <th>Final Value</th>
                    <th>Middle point</th>
                </tr>
                <% for(let i = 0; i < results.iterations.length; i++){ %>
                <tr>
                    <th>
                        <%= results.iterations[i] + 1 %>
                    </th>
                    <th>
                        <%= results.ivs[i] %>
                    </th>
                    <th>
                        <%= results.fvs[i] %>
                    </th>
                    <th>
                        <%= results.mps[i] %>
                    </th>
                </tr>
                <% } %>
            </thead>
        </table>
    </div>

</div>
<% include ../../partials/footer %>