		<div class="ui footer secondary segment">
		  <div class="ui center aligned container">
		  	<p>
		     Created by: Juan Enrique Solis Perla <br>
		     Student ID: 00000165920 <br>
		     For Numerical Computational Methods Class <br>
				 Teacher: Felipe Cabada <br>
				 Technological Institute of Sonora <br>
				 September, 2018
				</p>
				
			  <!-- <a href="/">Back to top</a> -->

		    <div class="ui list">
        		<a href="https://github.com/jesp010" class="item">GitHub</a>
      	</div>
					
		  </div>
		</div>
	</body>
</html>